// Here you can add other styles
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.table th,
.table td {
  vertical-align: middle; /* 垂直居中 */
  text-align: center; /* 水平居中 */
  max-width: 200px; /* 你可以根据需要调整这个宽度 */
}

.table th {
  white-space: nowrap;
  font-size: 0.8rem; /* 设置全局 th 文字大小 */
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.golden-ratio-image {
  width: 100px; /* 你可以根据需要调整这个宽度 */
  height: auto;
}

.vertical-span {
  display: block;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.toggle-switch input:checked + .toggle-switch-slider {
  background-color: #2196f3;
}

.toggle-switch-slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

.toggle-switch input:checked + .toggle-switch-slider:before {
  transform: translateX(14px);
}

.toggle-switch-slider.round {
  border-radius: 34px;
}

.toggle-switch-slider.round:before {
  border-radius: 50%;
}

.media-body {
  padding-left: 10px;
}

.media {
  display: flex;
  align-items: center;
}

.image-list {
  flex-shrink: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 2px;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.record-font {
  font-size: 0.7rem;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 间隔 */
}

.search-box {
  width: 200px;
  font-size: 14px; /* 输入框字体大小 */
  position: relative;
}

.search-box::placeholder {
  color: #999;
  font-size: 12px; /* placeholder 字体大小 */
}
.golden-ratio-image {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.golden-ratio-image.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
}
.header.header-sticky {
  position: sticky;
  top: 0;
  z-index: 800;
}
.captcha-img {
  cursor: pointer;
  width: 8.0rem;
  border-radius: var(--cui-border-radius);
}
.table-wrapper {
  position: relative;
  overflow-x: auto; /* Enables horizontal scrolling */
  max-width: 100%;
}


/*表格处理相关*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.fixed-column {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  right: 0;
  z-index: 10;
  padding: 10px;
  border-left: 2px solid #ddd; /* Optional: border to separate fixed column */
}

.table thead th {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  border-bottom: 2px solid #ddd; /* Optional: border to separate header */
}

.table tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  --global-font-size: 10px;
}

body, .ant-typography, .ant-btn, .ant-input, .ant-select, .ant-table, .ant-modal {
  font-size: var(--global-font-size);
}
input::placeholder,
textarea::placeholder,
.select-placeholder::placeholder,
.ant-select-selection-placeholder {
  font-size: var(--global-font-size);
  color: #999;     /* 可选：设定 placeholder 的颜色 */
}
/* CSS */
.table {
  font-size: 12px; /* 调整字体大小 */
}

.table th,
.table td {
  padding: 2px; /* 减少单元格的内边距 */
  vertical-align: middle; /* 垂直居中 */
}

.table tbody tr {
  line-height: 0.8; /* 调整行高 */
}

.custom-control-input {
  margin: 0; /* 取消复选框的默认外边距 */
}

.toggle-switch {
  width: 40px; /* 可以调整开关的宽度 */
  height: 20px; /* 可以调整开关的高度 */
}

.toggle-switch-slider {
  height: 20px; /* 使开关滑块的高度与外部容器相同 */
  width: 40px; /* 确保滑块在外部容器内 */
}


.pagination {
  display: flex;
  align-items: center; /* 垂直居中 */
  padding: 0; /* 去掉内边距 */
  margin: 0; /* 去掉外边距 */
}

.pagination .page-item {
  margin: 0; /* 去掉页码项的外边距 */
}

.pagination .page-link {
  padding: 0.25rem 0.5rem; /* 减小按钮的内边距 */
  font-size: 12px; /* 调整字体大小 */
  line-height: 1.2; /* 调整行高 */
  height: 30px; /* 统一高度 */
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}

.pagination input[type="number"] {
  width: 4rem; /* 调整输入框的宽度 */
  padding: 0.25rem; /* 减小输入框的内边距 */
  font-size: 12px; /* 调整输入框字体大小 */
  margin: 0 0.5rem; /* 调整输入框的外边距 */
}

.pagination select {
  padding: 0.25rem; /* 减小下拉框的内边距 */
  font-size: 12px; /* 调整下拉框字体大小 */
  margin: 0 0.5rem; /* 调整下拉框的外边距 */
}


/* styles.css */
.highlight-marker {
  background-color: rgba(255, 0, 0, 0.54); /* 选中国家的标记颜色 */
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.default-marker {
  background-color: rgba(125, 125, 125, 0.38); /* 未选中国家的标记颜色 */
  border-radius: 50%;
  width: 3px;
  height: 3px;
}
