// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
.simplebar-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
// @import "custom";
